* {
    margin: 2px;
}

:root {
    --blue: rgb(88, 126, 252);
    --font: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}

h1 {
    color: white;
    background-color: var(--blue);
    font-family: var(--font);
}

.search-bar {
    font-family: var(--font);
}

.todays-weather {

    border-style: solid;
    border-color: black;
}

.row {
    margin: 10px;
}

.col-md-1 {
    background-color: var(--blue);
    color: white;
    margin: 10px;

}